/*******************************************************************************************************************************************
UNIVERSAL LAYOUT
*/

* {
  font-family: "Josefin Sans", sans-serif;
}

h2 {
  color: #707070;
}

a:hover {
  opacity: 0.2;
}

.fa:visited {
  color: black;
}

/*******************************************************************************************************************************************
ABOUT
*/

.about-paragraph {
  border: solid black 2px;
  border-radius: 5px;
  background-color: white;
}

#dee-hero {
  border: solid black 2px;
  border-radius: 5px;
}

.hello-section {
  text-align: center;
  border-bottom: solid black 2px;
  height: 10vh;
}

#greeting {
  padding-top: 4vh;
}

.about-top {
  padding-top: 5vh;
}

.about-text {
  color: black;
  padding-top: 3vh;
}

.about-btn-section {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

/*******************************************************************************************************************************************
CONTACT
*/

.contact-container {
  margin-top: 7vh;
  margin-bottom: 10vh;
}

.contact-section {
  text-align: center;
  height: 5vh;
}

.contact {
  padding-top: 1vh;
}

.contact-img {
  border: solid black 2px;
  border-radius: 5px;
}

form {
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 20px 20px 0 20px;
}

#input-message {
  height: 13.5vh;
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  margin-top: 2vh;
  width: 8vw;
}

/*******************************************************************************************************************************************
FOOTER
*/

.back-to-top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.btn-to-top {
  margin-bottom: 7vh;
}

/*******************************************************************************************************************************************
HOME
*/
#dee {
  color: #707070;
  /* font-family: "Arizonia", cursive; */
  /* font-family: "Sacramento", cursive; */
  font-size: 50px;
  padding-left: 9vw;
  padding-top: 2vh;
}

#daniel {
  background-image: url("./static/daniel_large.jpg");
}

#stanley {
  background-image: url("./static/stanley_large.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

#chelsea {
  background-image: url("./static/chelsea_large.jpg");
}

.hero {
  background-repeat: no-repeat;
  padding: 0;
}

/* INDEX BUTTON IGNORES OPACITY */
#index_container a {
  opacity: 1;
}

#main {
  visibility: visible;
}

#about {
  visibility: hidden;
}

.hero-row {
  height: 98vh;
  width: 100vw;
}

.hero-container {
  margin: 0;
}

.logo-container {
  border: 2px solid white;
  width: 90vw;
}

/*******************************************************************************************************************************************
ICONS
*/

.fa {
  /* padding: 20px; */
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 2px;
}

.fa-facebook {
  color: black;
}

.fa-instagram {
  color: black;
}

p {
  display: block;
  color: white;
}

/*******************************************************************************************************************************************
INDEX
*/

#index_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#index_logo_large {
  max-height: 20vh;
}

/* 
BUTTON 
*/

#index_btn {
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  height: 45px;
  width: 200px;
  background: transparent;
  border: 2px solid black;
  transition: all 0.5s;
  padding: 10px;
}

#index_btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#index_btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#index_btn:hover span {
  padding-right: 25px;
}

#index_btn:hover span:after {
  opacity: 1;
  right: 0;
}

/*******************************************************************************************************************************************
NAVBAR
*/

.camera-container {
  padding-left: 5em;
}

.camera {
  width: 25px;
  height: 25px;
  background-size: 938px 318px;
  background-position: -624px -48px;
}

.navbar-button {
  color: #ff69b4;
}

.nav-link {
  color: #ff69b4;
}

.navbar-brand {
  padding-left: 0.4em;
  padding-top: 0.5em;
}

.nav-item {
  padding-right: 1em;
  padding-top: 0.5em;
}

/*******************************************************************************************************************************************
SENIORS / FAMILY 
*/

.column-left {
  padding-right: 0;
}

.column-right {
  padding-left: 0;
}

/*******************************************************************************************************************************************
MEDIA QUERIES
*/

/* MOBILE PHONES */
@media (max-width: 750px) {
  /* HOME SECTION  */
  .about-photo {
    padding: 0;
    width: 100vw;
  }

  #dee-hero {
    border: none;
    border-radius: 0%;
  }

  #chelsea,
  #daniel {
    display: none;
  }

  .about-paragraph {
    width: 100vw;
    border: none;
    border-radius: 0%;
  }

  .about-section {
    margin-bottom: 10vh;
  }

  .navbar-bottom {
    height: 10vh;
  }

  /* CONTACT SECTION  */
  .contact-container {
    margin-top: 0;
  }

  .contact-photo {
    padding: 0;
    width: 100vw;
  }

  .contact-img {
    border: none;
    border-radius: 0%;
  }

  .form-container {
    width: 100vw;
    padding: 0;
  }

  form {
    width: 100vw;
    border: none;
  }

  .contact-section {
    height: 5vh;
  }

  .contact-h2 {
    font-size: 20px;
  }

  .submit-btn {
    width: 50vw;
    margin-top: 7vh;
  }

  .submit-container {
    height: 5vh;
  }

  /* NAVBAR */
  .nav-ul {
    margin-left: 2em;
  }

  .social-icons {
    margin: 0;
    padding: 0;
  }

  .fa-facebook {
    margin-left: 0;
    padding-left: 0;
    width: 15px;
  }

  .fa-instagram {
    padding-left: 2em;
  }
}
