/*******************************************************************************************************************************************
UNIVERSAL LAYOUT
*/

* {
  font-family: "Josefin Sans", sans-serif;
}

h2 {
  color: #707070;
}

p {
  color: black;
}

a:hover {
  opacity: 0.2;
}

.fa:visited {
  color: black;
}

:root {
  --primary-pink: #ffc0cb;
}

/*******************************************************************************************************************************************
ABOUT
*/

.about-paragraph {
  margin: 0;
  display: block;
  background-color: #ffffff;
}

.about-top {
  padding-top: 5vh;
}

.hero-container {
  padding: 0;
  max-height: 100vh;
}

.about-text {
  color: black;
  padding-top: 3vh;
  font-size: 1.2em;
}

.about-btn-section {
  display: flex;
  justify-content: center;
  padding: 3em 0;
}

.about-container {
  margin: 0;
}

.about-photo,
.about-container {
  padding: 0;
  margin: 0;
}

.greeting {
  font-size: 5em;
  color: var(--primary-pink);
}

.hello-section {
  text-align: left;
  padding-top: 2em;
}

.contact-me-btn {
  background-color: var(--primary-pink);
}

.las-vegas {
  font-size: 1.5em;
  color: #737373;
}

/*******************************************************************************************************************************************
CONTACT
*/

.contact-photo-container {
  padding: 0;
}

.contact-photo {
  width: 100vw;
  height: 100vh;
}

.contact-container {
  margin-top: 7vh;
  margin-bottom: 10vh;
}

.contact {
  padding-top: 1vh;
}

.contact-section {
  text-align: center;
}

.contact-article-container {
  background-color: #ffffff;
  padding: 0;
}

form {
  padding: 5em 2em 0 2em;
}

#input-message {
  height: 10em;
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8em;
}

.submit-btn {
  margin-top: 2vh;
  width: 8vw;
}

.invalid {
  color: var(--primary-pink);
}

/*******************************************************************************************************************************************
FOOTER
*/

.back-to-top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.btn-to-top {
  background-color: var(--primary-pink);
}

/*******************************************************************************************************************************************
HOME
*/
.big-logo {
  padding: 0.8em;
}

#dee {
  color: #707070;
  font-size: 50px;
  padding-left: 9vw;
  padding-top: 2vh;
}

#daniel {
  background-image: url("./static/daniel_large.jpg");
}

#stanley {
  background-image: url("./static/stanley_large.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

#chelsea {
  background-image: url("./static/chelsea_large.jpg");
}

#dee-hero,
#dee-golden-gate-bridge {
  height: 100%;
  width: 100%;
}

.hero {
  background-repeat: no-repeat;
  padding: 0;
}

/* INDEX BUTTON IGNORES OPACITY */
#index_container a {
  opacity: 1;
}

#main {
  visibility: visible;
}

#about {
  visibility: hidden;
}

.hero-row {
  height: 98vh;
  width: 100vw;
}

.hero-container {
  margin: 0;
  height: ;
}

.logo-container {
  border: 2px solid white;
  width: 90vw;
}

/*******************************************************************************************************************************************
ICONS
*/

.btn {
  width: 10em;
}

.fa {
  /* padding: 20px; */
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 2px;
}

.fa-facebook {
  color: black;
}

.fa-instagram {
  color: black;
}

p {
  display: block;
  color: white;
}

/*******************************************************************************************************************************************
INDEX
*/

#index_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#index_logo_large {
  max-height: 20vh;
}

/* 
BUTTON 
*/

#index_btn {
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  height: 45px;
  width: 200px;
  background: transparent;
  border: 2px solid black;
  transition: all 0.5s;
  padding: 10px;
}

#index_btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#index_btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#index_btn:hover span {
  padding-right: 25px;
}

#index_btn:hover span:after {
  opacity: 1;
  right: 0;
}

/*******************************************************************************************************************************************
NAVBAR
*/

.camera-container {
  padding-left: 5em;
}

.camera {
  width: 25px;
  height: 25px;
  background-size: 938px 318px;
  background-position: -624px -48px;
}

.nav-link {
  color: #ff69b4;
}

.navbar-brand {
  padding-left: 0.4em;
  padding-top: 0.5em;
}

.nav-item {
  padding-right: 1em;
  padding-top: 0.5em;
}

.navbar-toggler {
  background-color: var(--primary-pink);
}

/*******************************************************************************************************************************************
PHOTOS
*/

.img-container {
  height: 30em;
  width: 25vw;
  padding: 0;
  margin: 0;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.photos-container {
  padding: 0;
}

.row {
  width: 100vw;
  margin: 0;
}

#headline,
#small-headline,
#smaller-headline,
#smallest-headline {
  z-index: 1;
  position: absolute;
  margin-top: 2em;
  margin-left: 3.5em;
  color: white;
  font-size: 3rem;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.6em;
  animation: fadeInUp;
  animation-duration: 2s;
}

#top-pic {
  z-index: -1;
  position: relative;
}

.banner-container {
  height: 95vh;
  width: 100vw;
  animation: fadeInUp;
  animation-duration: 1s;
}

/*******************************************************************************************************************************************
MEDIA QUERIES
*/

/* MOBILE PHONES */
@media (max-width: 500px) {
  /* HOME SECTION  */
  .camera-container {
    padding-left: 1rem;
  }

  .about-row {
    margin: 0;
  }

  .about-photo {
    padding: 0;
    width: 100vw;
  }

  #dee-hero {
    border: none;
    border-radius: 0%;
  }

  #chelsea,
  #daniel {
    display: none;
  }

  .about-paragraph {
    width: 100vw;
    border: none;
    border-radius: 0%;
  }

  .about-section {
    padding: 0;
    display: block;
  }

  /* CONTACT SECTION  */
  .contact-photo {
    height: auto;
    width: auto;
  }
  .contact-row {
    width: 100vw;
    margin: 0;
  }

  .form-container {
    width: 100vw;
    padding: 0;
  }

  form {
    width: 100vw;
    padding-top: 4em;
  }

  .contact-article-container,
  .contact-photo-container {
    width: 100vw;
  }

  .contact-photo-container {
    padding: 0;
  }

  /* NAVBAR */
  .nav-ul {
    margin-left: 2em;
  }

  .social-icons {
    margin: 0;
    padding: 0;
  }

  .fa-facebook {
    margin-left: 0;
    padding-left: 0;
    width: 15px;
  }

  .fa-instagram {
    padding-left: 2em;
  }

  /* PHOTOS */

  .img-container {
    height: 30em;
    width: 30em;
  }

  .banner-container {
    height: 95vh;
  }

  #headline {
    margin-left: 0;
    /* margin-top: 12.5em; */
    margin-top: 2em;
    padding: 1.1em;
    border: none;
  }

  #small-headline {
    border: none;
    margin-left: 0;
    padding-left: 1.7em;
    z-index: 1;
  }

  #smaller-headline {
    border: none;
    margin-left: 0;
    padding-left: 2em;
    z-index: 1;
  }

  #smallest-headline {
    border: none;
    margin-left: 0;
    padding-left: 3em;
    z-index: 1;
  }
}
